body{
    margin: 0;
    padding: 0;
    width: 100%;

}
.header{
    background-color: #3b5998;
    width: 100%;
    height:85px
}
.logo{
    width: 50%;
    float: left; 
    padding-top: 32px;

}
.login{
    width: 50%;
    float: left;
}
.logo-name{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 170px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.login-label{
    color: #fff;
    font-size: 11px;
}
.login-table{
    margin-left: 115px;
}
.login{
    padding-top: 10px;
}
.login-forget{
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    color: #9cb4d8;
}
.login-button{
    background-color: #6d8ac3;
    border-color: #4267b2;
    color: #fff;
    padding-inline: 21px;
    height: 22px;
    cursor: pointer;
}
.login-button:hover{
    background-color:#9cb4d8;
}
.main-body{
    width: 100%;
    height:685px;
    background: linear-gradient(white,#d3d8eb);
}
.left-body{
    width: 50%;
    padding-left: 134px;
    padding-top: 52px;
    float: left;
}
.right-body{
    float: left;
    width: 40%;
}
.body-content{
    font-size: 25px;
    padding: 8px;
    font-weight: bold;
}
.body-image{
    width: 581px;
    height: 280px;
}
.rigth-head{
    padding: 15px;
    padding-left: 20px;
}
.form-control{
    width: 70%;
    padding: 5px;
}
.input-row{
    padding: 5px;
}
.input-row .input-type{
    padding: 5px;
    border-radius: 5px ;
    border: 1px solid gray;
}
#input-2{
    width: 87%;
}
#input-3{
    width: 87%;
}
.first{
    padding: 2px;
}

.signup-btn{
   padding: 7px;
   width: 40%;
   border-radius: 7px;
   background: linear-gradient(rgb(65, 152, 65),rgb(3, 98, 5));
   border: 2px solid rgb(1, 96, 1);
   color: #fff;
   font-weight: bold;
}
.conditions a{
    text-decoration: none;
    font-weight: bold;
    color: #2a1968;
}
.signup-btn:hover{
    background: linear-gradient(rgb(136, 200, 136),rgb(49, 159, 51));
    border: 3px solid rgba(21, 134, 21, 0.87);
}
.craete-page a{
    text-decoration: none;
    font-weight: bold;
    color: #013686;
}
@media screen and (min-width: 1001px) {
    .logo-name{
        font-size: 20px;
        margin-left: 110px;        
    }
    .login-table{
        margin-left: 15px;
    }
    .main-body{
        width: 100%;
        height:915px;
    }
    .left-body{
        width: 50%;
        padding-left: 14px;
        padding-top: 32px;
        float: left;
    }
    .body-image{
        width: 515px;
        height: 220px;
    }
    .form-control{
        width: 100%;
        padding: 5px;
        font-size: 18px;
    }
    #input-2{
        width: 81%;
    }
    #input-3{
        width: 81%;
    }
    .input-row{
        padding: 7px;
    }
    .input-row .input-type{
        padding: 13px;
        border-radius: 7px ;
        border: 2px solid gray;
    }
    .first{
        padding: 3px;
    }
   
  
  }
  @media screen and (max-width: 1000px) {
    .logo{
        width: 40%;
    
    }

    .logo-name{
        font-size: 20px;
        margin-left: 50px;        
    }
    .login-table{
        margin-left: 15px;
    }
    .main-body{
        width: 100%;
        height:1280px;
    }
    .right-body{
        /* float: left; */
        width: 100%;
    }
    .left-body{
        width: 100%;
        padding: 0;
        padding-top: 32px;
        /* float: left; */
    }
    .body-content{
        padding: 15px;
        padding-left: 50px;
    }
    .body-image{
        width: 715px;
        height: 320px;
        padding-left: 50px;
    }
    .rigth-head{
        padding: 50px;
    }
    .rigth-head h1,p{
        padding-left: 15px;
    }
    .rigth-head p{
        font-size: 20px;
    }
    .form-control{
        width: 100%;
        padding: 15px;
        font-size: 21px;
    }
    #input-2{
        width: 77%;
    }
    #input-3{
        width: 77%;
    }
    .input-row{
        padding: 7px;
    }
    .input-row .input-type{
        width: 36%;
        padding: 15px;
        border-radius: 7px ;
        border: 2px solid gray;
    }
    .first{
        padding: 5px;
    }
    .signup-btn{
        padding:13px;
        width: 50%;
        
     }
     .input-row-btn ,.craete-page{
        text-align: center;
     }
  
  }
  @media screen and (max-width: 849px){
    .logo{
        width: 35%;    
    }
    .logo-name{
        font-size: 20px;
        margin-left: 50px;        
    }
    .login-table{
        margin-left: 0px;
    }
    .main-body{
        height:1310px;
    }
    .body-image{
        width: 600px;
        height: 320px;
        padding-left: 50px;
    }
    .rigth-head{
        padding: 50px;
    }
    .rigth-head h1,p{
        padding-left: 15px;
    }
    .rigth-head p{
        font-size: 20px;
    }
    .form-control{
        width: 100%;
        padding: 15px;
        font-size: 21px;
    }
    #input-2{
        width: 79%;
    }
    #input-3{
        width: 79%;
    }
    .input-row{
        padding: 7px;
    }
    .input-row .input-type{
        width: 36%;
        padding: 15px;
        border-radius: 7px ;
        border: 2px solid gray;
    }
    .first{
        padding: 5px;
    }
    .signup-btn{
        padding:15px;
        width: 50%;
        
     }
     .input-row-btn ,.craete-page{
        text-align: center;
     }
  }